/* Reset de estilos */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Estilos para o corpo da página */
body{
    background-color: #10688E;
    color: black;
    font-family: Arial;
}

/* Estilos para a div com id "cortes" */
div#cortes{
    margin: 50px auto 50px auto;
    width: 90%;
    max-width: 800px;
    padding: 20px;
    border: 8px solid #fff;
    border-radius: 8px;
    background-color: #ccc;
    color:#000;
}

/* Estilos para links */
a{
    text-decoration: none;
    color: black;
}

/* Estilos para links ao passar o mouse */
a:hover{
    text-decoration: underline;
    color: white;
}

/* Estilos para links não visitados */
a:link {
    text-decoration: none;
}

/* Estilos para a classe .line */
.line{
    margin: 10px;
    background-color: transparent;
    padding: 5px;
    border: solid 3px #000;
    border-radius: 2px;
}

/* Estilos para a classe .photo */
.photo{
    text-align: center;
    margin: 30px;
}

/* Estilos para a classe .image_sync */
.image_sync{
    width: 50%;
    height: auto;
    max-width: 100px!important; 
    text-align: center;
}

/* Estilos para a classe .centralize */
.centralize{
    text-align: center!important;
}

/* Estilos para o botão com a classe .buttom_class */
.buttom_class{
    background-color: rgb(14, 102, 153);
    cursor: pointer;
    transition: 0.3s;
    color: #fff!important;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    height: 40px;
    width: 100%;
    margin-top: 15px;
    text-align: center;
    display: block;
    padding-top:12px;
    padding-bottom: 5px; 
    margin-bottom: 0px;
}

/* Estilos para o botão ao passar o mouse */
.buttom_class:hover{
    background-color: #13b5f1;
    cursor: pointer;
    transition: 0.3s;
    color: #fff!important;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    height: 40px;
    width: 100%;
    text-align: center;
    display: block;
    padding-top:12px;
    padding-bottom: 0px; 
    margin-bottom: 0px;
}

/* Estilos para links dentro do botão ao passar o mouse */
.buttom_class a:hover{
    color: #000!important;
}

/* Estilos para a classe .image_profile */
.image_profile{
    width: 60%;
    height: auto;
    max-width: 360px;
}

/* Estilos para a classe .dados-usuario */
.dados-usuario{
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Estilos para a classe .title */
.title{
    background-color: rgb(14, 102, 153);
    color: #fff;
    padding: 10px 20px;
    text-align: center!important;
}

/* Estilos para telas menores que 768px */
@media only screen and (max-width: 768px) {
    #cortes {
        width: 95%;
    }

    .buttom_class {
        font-size: 14pt;
    }
}

/* Estilos para telas menores que 480px */
@media only screen and (max-width: 480px) {
    #cortes {
        width: 100%;
    }

    .buttom_class {
        font-size: 12pt;
    }
}
